# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
env/
.env/
staticfiles/
admin/
rest_framework/


# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Environment Variables
.env
*.env

# Docker
*.log
docker-compose.override.yml
docker-compose.*.yml
.dockerignore

# macOS
.DS_Store

# Windows
Thumbs.db

# Misc
*.swp
*.swo
